html {

    scroll-behavior: smooth;

    animation: test 3.5s;

}





@keyframes test{

    0%{

        overflow: hidden;

    }

    100%{

        overflow: hidden;

    }

}



*{

    font-family: sans-serif;

    margin: 0;

    padding: 0;

}





#body1{

    background-color: #000;

    display: block;

    position: relative;

    width: 100%;

    height: 100vh;

    overflow: hidden;

}




.line{

    animation: shadow 4.1s;

    position: absolute;

    width: 100%;

    overflow: hidden;

    z-index: 0;

    height: 100%;

    background: black;

}



.line-1{

    z-index: 15;

    opacity: 0.5;

}



.line-2{

    z-index: 10;

    opacity: 0.5;

}



.line-3{

    z-index: 5;

}





.vlna{

    position: absolute;

    left: 0;

    width: 200%;

    height: 100%;

    background-repeat: repeat no-repeat;

    background-position: 0 bottom;

    transform-origin: center bottom;

}



.vlna1{

    background-size: 50% 80px;

    animation: vlnky 50s linear infinite;

}



.vlna2{

    background-size: 50% 80px;

    animation: vlnky 12s linear infinite;

}



.vlna3{

    background-size: 50% 80px;

    animation: vlnky 18s linear infinite;

}



@keyframes vlnky{

    0%{

        transform: translateX(0) translateZ(0) scaleY(1.9);

    }

    50%{

        transform: translateX(-25%) translateZ(0) scaleY(2.5);

    }

    100%{

        transform: translateX(-50%) translateZ(0) scaleY(1.9);

    }

}





@keyframes tl{

    0%{

        opacity: 0;

        cursor: default;

    }

    79%{

        opacity: 0;

        cursor: default;

        top: 55%;

    }

}







.zacatek{

    text-align: center;

    position: absolute;

    top: 35%;

    z-index: 99;

    left: 50%;

    transform: translate(-50%,-50%);

    width: 100%;

}





.nadpis:hover{

    color: whitesmoke;

    transition: 0.5s;

    letter-spacing: 9px;

    font-size: 75px;

    z-index: 99;

}





.zacatek span{

    text-transform: uppercase;

    z-index: 99;

}









.nadpis{

    color: white;

    font-size: 70px;

    font-weight: 700;

    z-index: 99;

    letter-spacing: 8px;

    margin-bottom: 30px;

    position: initial;

    transition: 0.5s;

    animation: animace 3.1s;

    cursor: default;

}





.titulek{

    font-size: 30px;

    background: linear-gradient(-45deg, #7b4397, #dc2430);

    font-weight: 700;

    z-index: 99;

    letter-spacing: 5px;

    position: initial;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    animation: animace2 3.1s;

    cursor: default;

}





@keyframes animace {

    0%{

        letter-spacing: 110px;

        margin-bottom: 0;

        opacity: 0;

        font-size: 90px;

    }

    25%{

        letter-spacing: 0;

        margin-bottom: 0;

        opacity: 0.9;

        font-size: 90px

    }

    80%{

        letter-spacing: 16px;

        font-size: 90px;

        margin-bottom: 0;

    }

}





@keyframes animace2 {

    0%{

        opacity: 0;

    }

    90%{

        top: 20%;

        opacity: 0;

    }



}







@keyframes shadow{

    0%{

        opacity: 0;

    }

    70%{

        opacity: 0;

    }

}





@keyframes nelez{

    0%{

        opacity: 0;

        background-color: #000;

        color: #000;

        z-index: 999;

    }

    80%{

        opacity: 0;

        background-color: #000;

        color: #000;

        z-index: 999;

    }

}





@keyframes shadows{

    0%{

        opacity: 0;

        top: 0;

    }

    80%{

        opacity: 0;

        top: 50%

    }

}


.icons-social i {
    font-size: 3.4em;
    margin-left: 15px;
    margin-right: 15px;
    animation: nelez1 3.3s;
    color: white;
    transition-duration: 0.3s;
    transition-property: transform;
}


.icons-social i:hover{
    transform: scale(1.1);
    color: #cbcbcb;
}

.icons-social {
    z-index: 9999999;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes nelez1{

    0%{

        opacity: 0;

        background-color: #000;

        color: #000;

        z-index: 999;

    }

    80%{

        opacity: 0;

        background-color: #000;

        color: #000;

        z-index: 999;

        margin-right: -15px;
        margin-left: -15px;

    }

}
