

*{

    font-family: sans-serif;

    margin: 0;

    padding: 0;

}





#body1{

    background-color: #000;

    display: block;

    position: relative;

    width: 100%;

    height: 100vh;

    overflow: hidden;

}







.zacatek{

    text-align: center;

    position: absolute;

    top: 35%;

    z-index: 99;

    left: 50%;

    transform: translate(-50%,-50%);

    width: 100%;

}





.zacatek span{

    text-transform: uppercase;

    z-index: 99;

}









.nadpis{

    color: white;

    font-size: 55px;

    font-weight: 700;

    z-index: 99;

    letter-spacing: 4px;

    margin-bottom: 30px;

    position: initial;

    transition: 0.5s;

    cursor: default;

}





.titulek{

    font-size: 20px;

    background: linear-gradient(-45deg, #7b4397, #dc2430);

    font-weight: 700;

    z-index: 99;

    letter-spacing: 2px;

    position: initial;

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    cursor: default;

}


.icons-social i {
    font-size: 2.4em;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    color: white;
    transition-duration: 0.3s;
    transition-property: transform;
}


.icons-social {
    z-index: 9999999;
    position: absolute;
    top:63%;
    left: 50%;
    transform: translate(-50%, -50%);
}
