@import 'https://kit-pro.fontawesome.com/releases/v5.9.0/css/pro.min.css';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap';

*,
:after,
::before {
	box-sizing: border-box
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: #fff;
	background-color: #151515;
	line-height: 1.5;
	font-family: 'Josefin Sans', sans-serif;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	left: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	border-radius: 250px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

@media (max-width: 500px) {
	img {
		width: 200px;
		height: 200px;
	}
}

h1 {
	font-size: 45px;
	margin-top: 20px;
	margin-bottom: -30px;
}

p {
	color: white;
	line-height: 0.5;
}

.tools {
	padding: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 500px!important;
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 15px;
	opacity: 1;
	border: 0px solid #ff0078;
	box-shadow: 0 0px 35px 0px rgba(0, 0, 0, 0.5);
}

.center {
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}

.center-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button {
	display: inline-block;
	background-color: transparent;
	border: 1px solid white;
	padding: 10px 15px;
	text-align: center;
	font-size: .9rem;
	font-weight: bold;
	max-width: 150px;
	border-radius: 2px;
	color: #f8f9fa;
	margin: auto;
	transition: 0.5s;
	cursor: pointer;
	outline: 0;
	margin: 5px;
}

.button:hover {
	color: #212529;
	border: 1px solid white!important;
	background-color: #f8f9fa;
	border-color: #f8f9fa
}

::-webkit-scrollbar {
	width: 0px
}

img {
-webkit-user-select: none !important;
-khtml-user-select: none !important;
-moz-user-select: none !important;
-o-user-select: none !important;
user-select: none !important;
}